/* main content areas*/
#container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
}
header#maintitle {
    width: 75%;
    padding: 4% 17% 0% 14%;
    background-color: #fff;
    text-align: center;
        }
/* altered padding so that more at top than at bottom*/
h1 {
     color:#262526;
     text-align: center
     ;
}
h2,
h3 {    
    
    color: #262526;
}
nav{
    text-align: center;
    width: 54%;
    padding: 0% 11% 3% 22%;
    background-color: #fff;
}
#content{
    width:95%;
    padding:3% 14% 3% 3%;
    float: left;
}
footer {
    clear:both;
    width:94%;
    padding: 3%;
    background-color:#F2BBA7;
}
/* navigation */
nav ul li{
    display: inline;
    padding: 8px 1.5% 5px 1.5%;
    background-color:#fff;
    margin:1.5%;
    border-top: 1px solid #8C000E;
    border-bottom: 1px solid #8C000E;
}
nav ul li a{
   text-decoration: none;
   font-size: 1.4em;
}
nav ul li a:link{
    color:#262526;
}
nav ul li a:visited{
    color:#262526;
}
nav ul li a:hover{
    color:#262526;
}

nav ul li a:active{
    color:#8C000E;
}

/*photobanner*/
 .photobanner {
 height: 233px;
 width: 3550px;
 margin-bottom: 80px;
}
.photobanner img {
 -webkit-transition: all 0.5s ease;
 -moz-transition: all 0.5s ease;
 -o-transition: all 0.5s ease;
 -ms-transition: all 0.5s ease;
 transition: all 0.5s ease;
}
 
.photobanner img:hover {
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 -ms-transform: scale(1.1);
 transform: scale(1.1);
 cursor: pointer;
 
 -webkit-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
 -moz-box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
 box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}
 
#container {
 width: 1000px;
 overflow: hidden;
 margin: 50px auto;
 background: white;
}
/* media screen sizes*/
@media all and (max-width :768px){
    header{
        text-align:center;
    }
    nav
    {
        text-align: center;
    }
    #content{
        width: 94%;
        padding: 3%;
        float: none;
    }
    #container {
      
        width:94%;
    }
  aside#sidebar{
       
        display:none;
        
        
    }
    } 